.register-form {
    margin-left: 15%;
    margin-right: 20%;
}

p {
    padding: 0% 15%;
    color: #2c3e50;
    font-weight: bolder;
}

button {
    font-size: 1.1rem;
}

.instructions {
    font-weight: normal;
    font-style: italic;
}

.styleHeight {
    height: 130px;
}